<%- include('_layouts/header'); %>
<div class="row">
    <h1 class="page-header"><%= p.title %> </h1>
    <div class="col-xs-12 col-md-5">
        <img class="spi" src="/product_images/<%= p.id %>/<%= p.img %> " alt="">
        <br>
    </div>


</div>



<%- include('_layouts/footer'); %>

